@font-face {
    font-family: 'Rye';
    src: url('./Rye-Regular.woff2') format('woff2'),
        url('./Rye-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;

    font-family: sans-serif;
    font-size: 12px;
}


/* Left Panel =============================================== */
.leftPanel {
    flex: 2;
    position: relative;
}

.leftPanel>img {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.leftPanel h1 {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 200px;
    padding: 10px 0;

    font-family: 'Rye';
    font-size: 35px;
    text-align: center;

    border-radius: 5px;
    background-color: rgb(0 0 0 / 40%);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.leftPanel h1 img {
    width: 60px;
    filter: invert(1);
}

/* Right Panel =============================================== */
/* Main =============================================== */

.main {
    flex: 4;
    padding: 10px 10px 10px 20px;

    --section-bg-color: #E7E7E7;
    --sectional-padding: 30px;
    --input-focus-border-color: #86a7e8;
    --sectional-btn-color: #596D48;
    --sectional-btn-hover: #6c805a;

    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* Sections =============================================== */

.section-top-message,
.section-middle-form,
.section-lower-buttons,
.footer {
    box-shadow: 0 3px 3px -2px crimson;
}

/* Section 1st =============================================== */
.section-top-message {
    padding: var(--sectional-padding);
    background-color: var(--section-bg-color);
}

.section-top-message p {
    font-size: large;
    font-weight: bold;
    font-size: 12px;
}

/* Section 2nd =============================================== */
/* Form =============================================== */
.section-middle-form {
    flex: 1;
    padding: var(--sectional-padding);
    background-color: var(--section-bg-color);
}

.section-middle-form h2 {
    appearance: none;
    font-weight: 900;
}

.section-middle-form form {
    padding-top: 20px;
}

.section-middle-form form label,
.section-middle-form form input {
    display: block;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.form-field {
    flex: 1;
}

.form-field label {
    margin-bottom: 5px;

    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
}

.form-field input {
    padding-left: 2px;
    position: relative;
}

.form-field input:focus {
    border: 2px solid var(--input-focus-border-color);
    outline: none;
    border-radius: 2px;
}

.form-field input::placeholder {
    opacity: 0.6;
    font-size: 9px;
    text-transform: uppercase;
}

.form-field:has(input:required) label::after {
    content: "*";
    font-size: 14px;
    color: red;

    top: 3px;
    padding: 3px;
    position: relative;
    z-index: 1;
}


.form-field span {
    font-size: 10px;
    color: red;
    display: none;
}

/* Section 3rd =============================================== */

.section-lower-buttons {
    flex: 1;

    padding: var(--sectional-padding);
    background-color: var(--section-bg-color);
}

.section-lower-buttons button[form='signup-form'] {
    padding: 10px 20px;
    margin-bottom: 10px;

    display: inline-block;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;

    border: none;
    border-radius: 5px;
    background-color: var(--sectional-btn-color);
}

.section-lower-buttons button[form='signup-form']:hover {
    transform: scale(1.01);
    background-color: var(--sectional-btn-hover);
    cursor: pointer;
}

.section-lower-buttons button[form='signup-form']:active {
    transform: scale(0.99);
    background-color: var(--sectional-btn-hover);
    cursor: pointer;
}

.section-lower-buttons p a {
    text-decoration: none;
    font-weight: 600;
    color: var(--sectional-btn-color);

}

.section-lower-buttons p a:visited {
    text-decoration: none;
    color: var(--sectional-btn-color);
}

/* Footer =============================================== */

.footer {
    padding: 10px;
    background-color: var(--section-bg-color);
}

.footer p a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--sectional-btn-color);
}